

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

/* Style the color-box with fixed width, height, and default background color */
#color-box {
    width: 150px;
    height: 150px;
    background-color: #3E8914;
    margin-bottom: 20px; /* Add some space below the box */
}

/* Style the change-color-btn to make it visually appealing and clickable */
#change-color-btn {
    padding: 10px 20px;
    background-color: #3DA35D;
    color: #1A3A3A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#change-color-btn:hover {
    background-color: #96E072;
}


